.toggleBtn {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
  transition: left 0.2s;
}

.toggleBtn:not(.toggleBtnCollapsed) {
  left: 205px;
}

.content {
  margin: 16px 20px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.1s ease 0.15s,
    visibility 0.1s ease 0.15s;
}

.contentHidden {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.8ms ease 0s,
    visibility 0.8ms ease 0s;
}

.header {
  margin-bottom: 20px;
}

.heading {
  font-size: 20px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.projectsHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  border-radius: 8px;
  height: 35px;
}

.projectsInfo {
  opacity: 0;
}

.projectsHeader:hover {
  background-color: #322f2a;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  opacity: 0;
}

.projectsHeader:hover .projectsInfo,
.projectsHeader:hover .actionButtons {
  opacity: 1;
}

.left {
  margin-left: 8px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.arrow {
  transition: transform 0.2s ease;
}

.arrowOpen {
  transform: rotate(90deg);
}
