.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  padding: 16px 12px;
  border: 1px solid var(--border-color-primary);
  border-radius: 12px;
  background-color: var(--bg-color-secondary);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
