.project {
  min-height: 100vh;
  background-color: var(--bg-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.test {
  color: white;
}
