.selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.select {
  width: 130px;
}

.labelContainer {
  display: flex;
  justify-content: center;
}

.selectLabel {
  color: var(--color-accent-blue);
}
