.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.item {
  width: 90%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 5px 10px;
  border-radius: 8px;
}

.item:hover {
  background-color: #333;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.itemInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 16px !important;
  font-weight: 600 !important;
  margin: 0 !important;
}

.subtitle {
  font-size: 14px !important;
  color: var(--text-muted) !important;
  margin: 0 !important;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.date {
  font-size: 16px;
}

.priority {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
