.authInput input {
  background: transparent !important;
  color: var(--text-primary);
}

.authInput input::placeholder {
  color: var(--text-placeholder) !important;
}

.authInput :global(.ant-input-show-count-suffix) {
  color: var(--text-primary);
}

.authInput {
  background: transparent !important;
  color: var(--text-primary);
}

.authInput::placeholder {
  color: var(--text-placeholder) !important;
}
