.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  height: 35px;
  padding-left: 8px;
}

.item:hover {
  background-color: #322f2a;
}

.left {
  min-width: 0;
  width: 100%;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
