.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  min-width: 0;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.icon {
  max-width: 100px;
  flex-shrink: 0;
}
