@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color-primary);
}

li {
  list-style: none;
}

:root {
  /* Background */
  --bg-color-primary: #1f1f1f;
  --bg-color-secondary: #262c36;

  /* Card */
  --card-shadow: rgba(0, 0, 0, 0.28);
  --card-hover-border: #58a6ff;
  --bg-card: #21262d;
  --bg-card-hover: #30363d;

  /* Colors */
  --text-primary: #f0f6fc;
  --text-secondary: #c9d1d9;
  --text-muted: #8b949e;
  --text-placeholder: #9298a1;
  --text-disabled: #484f58;
  --text-hover-primary: #15191e;
  /* Borders */
  --border-color-primary: #3e444d;
  --border-bottom-color: #f0f6fc;

  /* Buttons */
  --btn-primary-bg: #21262d;
  --btn-primary-hover: #30363d;
  --btn-primary-active: #373e47;
  --btn-primary-text: #c9d1d9;

  --btn-edit-bg: #2f81f714;
  --btn-edit-border: #2f81f759;
  --btn-edit-text: #2f81f7;
  --btn-edit-hover-bg: #2f81f724;
  --btn-edit-hover-border: #2f81f7a6;
  --btn-edit-hover-text: #79c0ff;

  --btn-remove-bg: #f8717114;
  --btn-remove-border: #f8717159;
  --btn-remove-text: #f87171;
  --btn-remove-hover-bg: #f8717124;
  --btn-remove-hover-border: #f87171a6;
  --btn-remove-hover-text: #fca5a5;

  --btn-add-bg: #2f81f7;
  --btn-add-border: #2f81f7;
  --btn-add-text: #ffffff;
  --btn-add-hover-bg: #4a90ff;
  --btn-add-hover-border: #4a90ff;
  --btn-add-hover-text: #ffffff;

  /* Accent */
  --color-accent-blue: #2f81f7;
  --color-error: #ef4444;
  --color-error-hover: #dc2626;

  /* Status text/accent */
  --status-todo: #2f81f7;
  --status-in-progress: #eab308;
  --status-done: #22c55e;

  /* Status background */
  --status-todo-bg: rgba(47, 129, 247, 0.15);
  --status-in-progress-bg: rgba(234, 179, 8, 0.15);
  --status-done-bg: rgba(34, 197, 94, 0.15);
  --status-done-hover-bg: rgba(34, 197, 94, 0.22);

  /* Priority colors */
  --priority-low: #22c55e;
  --priority-medium: #f59e0b;
  --priority-high: #ef4444;

  /* Status background */
  --status-todo-bg: rgba(47, 129, 247, 0.15);
  --status-in-progress-bg: rgba(234, 179, 8, 0.15);
  --status-done-bg: rgba(34, 197, 94, 0.15);

  /* Login page  */
  --btn-register-bg: #ffffff;
  --btn-register-hover: #f0f6fc;
  --btn-register-active: #dbeafe;
  --btn-register-text: #020408;
  --btn-register-border: rgba(255, 255, 255, 0.12);
  --btn-register-shadow: rgba(255, 255, 255, 0.18);
}
